<html>
    <head>
        <title>Annerein's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Annerein's Blog</a></h1>
        </div>

        <div>
            <p>published: 2.11.2019, 14:01</p>
            <h2><a href="">My first post</a></h2>
            <p>Dit is mijn derde keer bij Django girls. tot nu toe gaa thet nog goed.</p>
        </div>

        <div>
            <p>published: 2.11.2019, 14:02</p>
            <h2><a href="">My second post</a></h2>
            <p>Nu typ ik maar weer wat.</p>
        </div>
    </body>
</html>